@import url("https://use.typekit.net/ziw3toi.css");

/* Liberation Sans Regular
font-family: "liberation-sans", sans-serif;
font-weight: 400;
font-style: normal;

Liberation Sans Bold
font-family: "liberation-sans", sans-serif;
font-weight: 700;
font-style: normal; 

Soleil Regular
font-family: "soleil", sans-serif;
font-weight: 400;

font-family: "neue-kabel", sans-serif;
font-weight: 900;
font-style: normal;
*/


*{
    margin: 0;
    padding: 0;
    border: 0;
}

.msg, .text-input, textarea, label, .sign-form, h3, h2, h1, p, .send-button, a, .navbtn {
    font-family: "neue-kabel", sans-serif;
}

.send-button, .msg, .form-section, .hero-image, .navbtn, .text-input, .promovideo, .inner-body-content, #dropdown-menu {
    border-radius: 10px;
}
a {
    font-size: 20px;
}
p {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    padding: auto;
}
/* read more less sekcija */
#readmore {
    display: none;
    color: black;
    }

#readmore:target {
    display: block;
}

h1 {
    font-weight: 900;
    font-style:normal;
    font-size: 50px;
    letter-spacing: 2px;
    /* changed */
    margin-bottom: 20px;
}

h2 {
    letter-spacing: 2px;
}

h3 {
    font-weight: 700;
    font-size: 30px;
    color: white;
    padding-bottom: 20px;
}

#logo {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 300px;
    height: auto;
    padding: 10px;
}

.navbtn {
    margin: 30px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 55px;
    padding: 20px;
}

.navbtn, p {
    font-size: 40px; 
    float: left;
    text-align:left;
    padding: 20px;
    background-color: transparent;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-menu {
    margin: 110px 60px;
    display: none;
    position: relative;
    background-color: whitesmoke;
    list-style: none;
    text-align: right;
    width: 160px;
    z-index: 555;
    padding: 30px;
}

#dropdown-menu .menulist {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-menu .menulist:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

#dropdown:hover #dropdown-menu {
    display: block;
}

#dropdown:hover .navbtn {
    background-color: white;
    color: black;
    opacity: .8;
}

header {
    width: 1600px;
    /* height: 200px; */
    margin: auto;
    display: block;
    height: 150px;
    position: inherit;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.outer-body {
    background-color: black;
    width: 1600px;
    /* changed */
    height: auto;
    margin: auto;
    display: block;
    overflow: auto;
}

.inner-body-content {
    background-color: rgb(243, 219, 183);
    width: 80%;
    /* pakeista i auto max content */
    
    height: auto;  
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}

.text-section {
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

 .hero-image {
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 2vw;
   
 }

 .arrow-down {
    width: 100%;
    text-align: center;
 }

.promovideo {
    padding-top: 50px;
    margin: 60px;
    align-items: center;
}

.footer {
    position: relative;
    width: 1600px;
    height: 100px;
    background: black;
    /* min-height: 100px; */
    padding: 20px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
  
.social-icon__item {
    list-style: none;
}
  
.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
}

  /* SOKINEJA IKONOS */
.social-icon__link:hover {
    transform: translateY(-10px);
}

  /* .sign-form-photo {
    width: 200px;
    height: auto; 
  } */

.form-section  {
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    width: 70%;
    height: 80%;
    background-color: grey;
    scroll-behavior: auto;
    box-shadow: 0 0 40px -10px #000;
    margin-block: 60px;
    position: relative;
}

.sign-form {
    height: auto;
}

  /* .sign-form {
    position: absolute;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    padding-bottom:30px;
    text-align: center;
    justify-content: center;
  
    
   
    
  } */

h3, label, input, textarea, .send-button {
    text-shadow: grey 5px -5px 10px;
    padding: 5px 10px;
}
  
label {
    font-weight: 600;
    font-size: 20px;
    display: block;
    /* padding: 5px 0; */
    margin: 10px 0 0 0;
    position: relative;
    color: white;
}

.text-input {
    display: grid;
    /* font-size: 16px; */
    /* padding-left: 10px; */
    width: 60%;
    height: 30px;
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    justify-content: center;
    position: relative; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
    /* margin-left: -200px; */
    background-color: rgb(221, 221, 221);
    
}

::placeholder, textarea {
    margin: 5px;
    font-weight: 400;
    color: black;
}

.msg {
    font-weight: 400;
    font-size: 20px;
    height: 150px;
    width: 500px;
    /* padding: auto; */
    margin: auto;
    display: grid;
    /* align-items: center;
    justify-content: center;
    resize: none; */
    background-color: rgb(221, 221, 221);
    overflow: auto;
}

  

.send-button {
    left: 50%;
    width: 80px;
    padding: 10px;
    margin: 15px;
    font-size: 18px;
    border: 1px solid grey;
    /* font-family:"neue-kabel",sans-serif; */
    background-color:rgb(179, 179, 179);
    justify-content: center;
    transition:all .3s ;
}
  
.send-button:hover {
    background-color: rgb(244, 61, 61);
    color: black;
    opacity: .8;     
}

/* safari bux fix */
.gallery  *{
    will-change: opacity;
}

.gallery {
    display: block;
    width: 100%;
    margin: auto;
    columns: 3;
    
  }

.foto {
    width: 300px;
    height: 300px;
    padding: 3px;
    object-fit: cover; 
    background-color: white; 
    -webkit-box-shadow: 10px 10px 40px 20px black; 
    -moz-box-shadow: 10px 10px 40px 20px black;
    box-shadow: 10px 10px 40px 20px black;
  }

.fotobox {
    padding: 15px 0 15px 0;   
 }

.foto:hover {
    transform: scale(110%);
    transition: .5s ease;
    opacity: 1;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 3;
}

.menuicon ion-icon {
    background-color: transparent;
    position: absolute;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    padding: 30px;
}

.prev ion-icon {
    background-color: transparent;
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 50px;
    left: 5%;
}

.next ion-icon {
    background-color: transparent;
    position: absolute;
    text-decoration: none;
    color: black;
    right: 5%;
    font-size: 50px;
    
}

.close ion-icon {
    background-color: transparent;
    position: absolute;
    text-decoration: none;
    color: black;
    right: 5%;
    top: 5%;
    position: absolute;
    font-size: 50px;
}

.lightbox .boxfoto {
    max-width: 80%;
    max-height: 80%; 
}

.lightbox .picid {
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    
}

/* @keyframes lightbox {
    from {background-color: black;}
    to {background-color: whitesmoke;}
} */


.lightbox:target {
    visibility: visible;
    opacity: 1;
    /* animation-name: lightbox;
    animation-duration: 3s; */
}

@media screen and (min-width: 300px) and (max-width: 750px) {
    .outer-body {
        max-width: 100%;
        height: auto;
    }
    .inner-body-content {
        max-width: 100%;
        min-height: 10vh;
    }

    header {
        max-width: 100%;
        height: 13vh; 
    }
    footer, .footer  {
        max-width: 100%;
        height: auto;
    }
    .hero-image {
        max-width: 80%;
    }
    h1 {
        font-size: 5vw;
    }
    h3 {
        font-size: 3.9vw;
        padding-top: 4.0vw;
    }
    p {
        font-size: 1em;
    }
    #logo {
        width: 30%;
        align-items: center;
        justify-items: center;
        margin: calc(50% -50%);
        /* margin-top: 1rem; */
    }
    .navbtn p {
        font-size: 3vw;
        position: absolute;
        margin: 5px;
    }
    .navbtn {
        padding: 5px;
        margin: 5px;
    }
    #dropdown-menu {
        margin: 60px 20px;
        max-width: min-content;
    }
    .menulist {
        max-width: 50px;
        font-size: 2vw;
        font-size: medium;
    }

    /* pakeitimai */
    .promovideo {
        max-width: 100%;
        max-height: min-content;
        padding: 1px;
        margin: 0;
        border-radius: 10px;
        align-content: center;
    }
   
    /* contact */
    .form-section {
        width: 98%;
        height: 98%;
        padding: 1px;
        margin: 1px 1px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .text-input, .msg, label {
        width: 90%;
        height: fit-content;
        font-size: 1em;
    }
    .send-button {
        margin-top: 3vw;
        font-size: 1em;
    }
  

    /* gallery */
    .gallery {
        columns: 1;
    }
    .foto {
        width: 12em;
        height: 12em;
        object-fit: cover;
    }
    .prev ion-icon, .next ion-icon, .close ion-icon {
        font-size: 4.0vw;
        margin: 0 -10px;
    } 
    .boxfoto {
    position:absolute;
    max-width:100%;
    max-height:100%;
    
    }
    
}

    
