@import url("https://use.typekit.net/ziw3toi.css");

/* Liberation Sans Regular
font-family: "liberation-sans", sans-serif;
font-weight: 400;
font-style: normal;

Liberation Sans Bold
font-family: "liberation-sans", sans-serif;
font-weight: 700;
font-style: normal; 

Soleil Regular
font-family: "soleil", sans-serif;
font-weight: 400;

font-family: "neue-kabel", sans-serif;
font-weight: 900;
font-style: normal;
*/


*{
    margin: 0;
    padding: 0;
    border: 0;
}


p {
    font-family: "neue-kabel", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: auto;
}

h2 {
    font-family: "neue-kabel", sans-serif;
    letter-spacing: 2px;
}

h1 {
  font-family: "neue-kabel", sans-serif;
  font-weight: 900;
  font-style:normal;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

#logo {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: transparent;
    width: 300px;
    height: auto;
    padding: 10px;
}

.navbtn {
    margin: 30px;
    color: red;
    background-color: transparent;
    border: none;
    font-size: 48px;
    border-radius: 10px;
    padding: 20px;
}

.navbtn, p {
    font-size: 20px; 
    float: left;
    text-align:left;
    padding: 20px;
    background-color: transparent;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-menu {
    margin: 110px 60px;
    display: none;
    position: relative;
    background-color: grey;
    list-style: none;
    text-align: right;
    min-width: 160px;
    border-radius: 10px;
    padding: 30px;
}

#dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-menu a:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

#dropdown:hover #dropdown-menu {
    display: block;
}

#dropdown:hover .navbtn {
    background-color: red;
    color: black;
    opacity: .8;
}

header {
  width: 1600px;
  height: 200px;
  margin: auto;
  display: block;
  height: 150px;
  position: inherit;
  background-color: black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.outer-body {
    background-color: black;
    max-width: 1600px;
    height: 800px;
    margin: auto;
    display: block;
    overflow: auto;
}

.inner-body-content {
    background-color: rgb(243, 219, 183);
    width: 1100px;
    height: 780px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

.text-section {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}

 .hero-image {
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 100px;
    border-radius: 10px;
 }

 .arrow-down {
  width: 100%;
  text-align: center;
 }

.promovideo {
  padding-top: 50px;
  margin: 60px;
  border-radius: 10px;
}

.footer {
    position: relative;
    width: 1500px;
    height: 100px;
    background: black;
    /* min-height: 100px; */
    padding: 20px 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

   .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
  }

  /* SOKINEJA IKONOS */
  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .sign-form-photo {
    width: 200px;
    height: auto;
    
  }

  .sign-form {
    margin: 160px 10px 0 0;
    background-color: grey;
    max-width: 500px;
    text-align: center;
    text-justify: auto;
    position: relative;

  }

  